* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  row-gap: 15px;
}

header {
  background: #1A1C22;
}

footer {
  background: #1A1C22;
}

main {
  display: grid;
  grid-gap: 15px;
  min-height: 400px;
}
@media screen and (max-width: 899px) {
  main {
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  main {
    grid-template-columns: 400px 1fr;
  }
}

.sidebar {
  background: #6C757D;
}

.content {
  display: grid;
  grid-gap: 15px;
}
@media screen and (max-width: 599px) {
  .content {
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .content {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1199px) {
  .content {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

.content__item {
  background: #343A40;
}
